<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName seagul.co.uk
  ServerAlias www.seagul.co.uk

  RewriteEngine On

  # www.seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} www.seagul.co.uk [NC]
  RewriteRule .* http://chrisroos.co.uk/ [R=301,L]

  # seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} ^seagul.co.uk [NC]
  RewriteRule .* http://chrisroos.co.uk/ [R=301,L]

</VirtualHost>